/* simple spacing for the form */
.p-field { margin-bottom: 1rem; }

.content {
  /*display: flex;*/
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
