.atendimentos-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

.p-grid, .p-col-12 { width: 100% !important; }

:host ::ng-deep p-table { width: 100%; }
:host ::ng-deep .p-datatable-wrapper { overflow-x: auto; }


.content {
  /*display: flex;*/
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
