<div class="atendimentos-container">
  <div class="p-grid">
    <div class="p-col-12">
      <h2>Atendimentos</h2>

      <div class="p-mb-3">
        <button pButton type="button" label="Novo" class="p-button-success" (click)="navigateToNovo()"></button>
      </div>

      <div *ngIf="loading" class="p-mt-3">
        <p>Carregando atendimentos...</p>
      </div>

      <div *ngIf="error" class="p-mt-3 p-text-danger">
        {{ error }}
      </div>

      <p-table *ngIf="!loading && !error" [value]="atendimentos" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Paciente ID</th>
            <th>Atendido em</th>
            <th>Conteúdo</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-a>
          <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.patientId }}</td>
            <td>{{ a.attendedAt | date:'dd/MM/yyyy HH:mm' }}</td>
            <td [innerHTML]="sanitizedContent(a)"></td>
            <td>
              <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text" pTooltip="Ver atendimento" tooltipPosition="top" (click)="view(a)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhum atendimento encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
