//.pacientes-container {
//  max-width: 80%;
//  margin: 0 auto; /* center horizontally */
//  padding: 1rem 0;
//}
//
///* Ensure inner grid and table take full width of the container */
//.p-grid, .p-col-12 {
//  width: 100% !important;
//}
//
///* Make p-table occupy full container width */
//:host ::ng-deep p-table {
//  width: 100%;
//}
//
//:host ::ng-deep .p-datatable-wrapper {
//  overflow-x: auto;
//}

