<div class="atendimentos-container">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-mb-3" style="text-align: right;">
        <button pButton type="button" label="Novo" icon="pi pi-plus" class="p-button-sm" (click)="navigateToNovo()"></button>
      </div>

      <div *ngIf="loading" class="p-mt-3">
        <p>Carregando pacientes...</p>
      </div>

      <div *ngIf="error" class="p-mt-3 p-text-danger">
        {{ error }}
      </div>

      <p-table *ngIf="!loading && !error" [value]="pacientes" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paciente>
          <tr>
            <td>{{ paciente.id }}</td>
            <td>
              <div>
                {{ paciente.fullName }}
              </div>
            </td>
            <td>{{ formatCpf(paciente.cpf) }}</td>
            <td>{{ paciente.birthDate | date:'dd/MM/yyyy' }}</td>
            <td>
              <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text" title="Editar paciente" (click)="edit(paciente)"></button>
              <button pButton type="button" icon="pi pi-file-import" class="p-button-rounded p-button-text"  title="Ver a ficha do paciente" (click)="goToAtendimentos(paciente)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhum paciente encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
